*{
  font-family: Arial;
  color: white;
  background-color: white;
}
#header{
  text-align: center;
  font-weight: bold;
  background-color: rgb(199, 139, 149);
}
#rgb{
  background-color: rgb(199, 139, 149);
}
#rgb9{
  background-color:rgb(199, 139, 149, 0.9);
}
#rgb8{
  background-color:rgb(199, 139, 149, 0.8);
}
#rgb7{
  background-color:rgb(199, 139, 149, 0.7);
}
#rgb6{
  background-color:rgb(199, 139, 149, 0.6);
}
#rgb5{
  background-color:rgb(199, 139, 149, 0.5);
}
#rgb4{
  background-color:rgb(199, 139, 149, 0.4);
}
#rgb3{
  background-color:rgb(199, 139, 149, 0.3);
}
#rgb2{
  background-color:rgb(199, 139, 149, 0.2);
}
#rgb1{
  color:black;
  background-color:rgb(199, 139, 149, 0.1);
}
#hsl{
  background-color:hsl(350, 34.9%, 66.3%);
}
#hsl9{
  background-color:hsla(350, 34.9%, 66.3%, 0.9);
}
#hsl8{
  background-color:hsla(350, 34.9%, 66.3%, 0.8);
}
#hsl7{
  background-color:hsla(350, 34.9%, 66.3%, 0.7);
}
#hsl6{
  background-color:hsla(350, 34.9%, 66.3%, 0.6);
}
#hsl5{
  background-color:hsla(350, 34.9%, 66.3%, 0.5);
}
#hsl4{
  background-color:hsla(350, 34.9%, 66.3%, 0.4);
}
#hsl3{
  background-color:hsla(350, 34.9%, 66.3%, 0.3);
}
#hsl2{
  background-color:hsla(350, 34.9%, 66.3%, 0.2);
}
#hsl1{
  color: black;
  background-color:hsla(350, 34.9%, 66.3%, 0.1);
}